:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
}

body {
    display: flex;
    flex-wrap: wrap;
}

div {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width: 50%;
}

h1 {
    font-weight: 500;
    font-size: 50px;
    color: var(--purple);
}

p {
    font-weight: 400;
    color: var(--text-color);
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 0px;
    padding: 0px;
    list-style: none;
    color: var(--light-grey);
    font-size: 12px;
}
    
.rocket-image {
    width: 40%;
}

.top-image {
    width: 100%;
}

.bottom-image {
    width: 100%;
}

.countdown {
    color: var(--black);
    font-size: 100px;
    text-align: center
}