:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    font-family: 'Work Sans', sans-serif;
    background-color: var(--body-bg-color);
}

h2 {
    color: var(--title-color);
    margin-top: 100px;
    font-weight: 700;
}

h3 {
    color: var(--text-color);
    font-weight: 500;
}

p {
    color: var(--form-color);
    font-weight: 400;
    margin: 30px 0px;
}

a {
    color: var(--bg-button-color);
    text-decoration: none;
}

a img {
    vertical-align: middle;
}

form label {
    color: var(--form-color);
}

.campo {
    display: flex;
    height: 40px;
}

.campo input {
    flex: auto;
}

.campo button {
    background-color: var(--bg-button-color);
    border: none;
    width: 40px;
}

.imagem-fundo img {

    height: 100vh;
    position: absolute;
    top: 0px;
    right: 0px;
}

.conteudo {
    margin: 0px;
    height: 100vh;
    width: 40%;
    position: relative;
    z-index: 2;
    top: 0px;
    left: 0px;
    background-color: var(--body-bg-color);
    padding: 30px;
}

.conteudo .logo {
    width: 500px;
}